@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    scroll-margin-top: 120px;
}

body {
  background-color: #8f8f8f;
}